@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Media Park 00010402</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Media Park</h2>
        <p>
            Media Park is a sample application that
            demonstrates how to develop
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Original web site of Media Park</h2>
        <p>You can see already existing web site below.</p>
        <p><a class="btn btn-default" href="https://mediapark.uz/">See the webSite &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/Akil7770">See project source code &raquo;</a></p>
    </div>
</div>
